<div class="w-56">
    <ul class="menu border-r border-base-200">
        <li><a class="{{activeFor('/domains')}} href="/domains">Domains</a></li>
        <li><a class="{{activeFor('/domains/new')}} href="/domains/new">Add Domains</a></li>
        <li><a class="{{activeFor('/account')}} href="/account">account</a></li>
        <li><a class="{{activeFor('/account/notification')}} href="/account">Notifications</a></li>
        <li><a class="{{activeFor('/account/notification')}} href="/account">Integrations</a></li>
    </ul>
    </div>